# Python
__pycache__/
*.py[cod]
.venv/
venv/

# PaddleOCR
PaddleOCR/
inference/

# Data & Models (용량이 크므로 제외, 필요시 샘플만 포함)
data/
models/pretrained/
# models/finetuned/  <-- 배포할 모델만 남기고 제외할지 선택

# Logs & Configs
output/
log/
.idea/
.vscode/
*.log